<!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 37 40">
  <path d="M33.5 25h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0-11.5h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0 23h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
</svg> -->
<div id="hamburger-container" onclick="myFunction(this)">
  <div class="bar1" id="hamburger1"></div>
  <div class="bar2" id="hamburger2"></div>
  <div class="bar3" id="hamburger3"></div>
</div>
<script>
function myFunction(x) {
    x.classList.toggle("change");
  console.log('its working!');
}

</script>